:root {
    --bg: #fff;
    --text: #212121;
    --link: #FF5487;
    --el-color: #FF5487;
    --p: 1rem;
    --el-position: calc(var(--p) / 2);

    @media (prefers-color-scheme: dark) {
      --bg: #212121;
      --text: #D3D3D3;
    }
  }

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html, body, h1, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background: var(--bg);
  color: var(--text);
  height: 100vh;
  align-items: center;
}

body,
main {
  display: flex;
  width: 100%;
}

main {
  position: relative;
  text-align: center;
  flex-direction: column;
  padding: 1rem;

  &::before {
    content: '<';
    left: var(--el-position);
  }

  &::after {
    content: '/>';
    right: var(--el-position);
  }

  &::before,
  &::after {
    color: var(--el-color);
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

a {
  color: var(--link);
  text-decoration: none;
}
